__pycache__/
*.py[cod]

.venv/
venv/

.pytest_cache/
.coverage
htmlcov/

.env
.env.*

tests/
requirements-dev.txt

*.log

.git/
.gitignore

Dockerfile*
Dockerfiles/
docker-compose*.yml
docker-compose*.yaml
