aws_region = "ap-southeast-1"

project_name = "secure-cicd-pipeline"
environment  = "nonprod"

github_owner         = "Nex-opensourcehorray"
github_owner_id      = "82328818"
github_repository    = "secure-cicd-pipeline"
github_repository_id = "1409968457"
github_branch        = "main"

ecr_repository_arn = "arn:aws:ecr:ap-southeast-1:<NONPROD_ACCOUNT_ID>:repository/secure-cicd-demo"
